.list-view {
    -fx-control-inner-background: #f4f4f4; /* Màu nền của ListView */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 20%); /* Màu nền của các item xen kẽ */
    -fx-background-color: white; /* Màu nền của ListView */
}

.list-cell {
    -fx-background-color: transparent; /* Làm cho màu nền của cell trong suốt */
    -fx-text-fill: black; /* Màu chữ của cell */
}

.list-cell:hover {
    -fx-background-color: #4d64d8; /* Màu nền khi di chuột qua cell */
}
.list-view:hover {
    -fx-cursor: HAND;
}
