.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #dbd9d9;
    -fx-border-radius: 10;

}
.button:hover {
    -fx-border-color: #7d7b7a;
}
.button:pressed {
    -fx-background-color: #dedede;
}
.clicked-button {
    -fx-background-color: darkblue;
}