.jfx-button {
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color:  #283655;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.jfx-button.pressed {
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color:  #283655;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.jfx-button:pressed {
    -fx-cursor: HAND;
    -fx-background-color: #4d648d;
    -fx-text-fill: black;
    -fx-border-radius: 5;
}