.button:hover{
    -fx-cursor: HAND;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: transform 0.3s ease;
}
.jfx-button:hover {
    -fx-cursor: HAND;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: transform 0.3s ease;
}
.menu-button:hover {
    -fx-cursor: HAND;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: transform 0.3s ease;
}