.button {
    -fx-background-color:  #003f91;
    -fx-background-radius: 15px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}
.button:hover {
    -fx-border-width: 3px;
    -fx-border-color: black;
}
.button:pressed {
    -fx-background-color: #013171;
}